:root {
  --base-color: #2b888f;
  --border-color: rgba(255, 255, 255, 0.25);
  --background-color: #242424;
  --text-color: whitesmoke;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > * {
  max-width: 1400px;
  margin-inline: auto;
}

h2, h3, h4, h5, h6 {
  margin-top: 1.2em;
  margin-bottom: 0.4em;
}

button {
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}

.details-tabs {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  details {
    display: contents;

    summary {
      background: var(--background-color);
      order: 0;
      padding: 1ch 3ch;
      cursor: pointer;
      border: 1px solid var(--border-color);
      border-bottom: none;
      border-radius: 0.5rem 0.5rem 0 0;
      margin-right: 8px;
      min-width: 6rem;
    }

    section {
      order: 1;
      width: 100%;
      padding: 1em;
      border: 1px solid var(--border-color);
    }

    &:not([open]) {
      color: hsl(from var(--text-color) h s l / 50%);
    }

    &[open] summary {
      transform: translateY(1px);
    }

    &[open]::details-content {
      display: contents;
    }
  }
}

ul, p {
  margin: 0;
}
ul {
  padding-left: 3ch;
}

.solution {
  margin-top: 1.5em;
  min-width: 70ch;
  min-height: 7lh;
}

#stdin {
  min-width: 70ch;
}

.stdout,
.stderr {
  min-height: 1lh;
  border: 1px solid black;
  margin: 3px;
  padding: 0 0.8ch;
}

.stdout {
  border-color: var(--base-color);
}

.stderr {
  border-color: hsl(from var(--base-color) 0deg s l);
}

.hidden {
  display: none;
}

fieldset {
  border-color: hsl(from var(--border-color) h s l / 50%);

  &::backdrop {
    background-color: red;
  }
}
#cli-args {
  button {
    position:relative;
    min-width: 4ch;
    top: 0;
    right: 0;
    border: 3px outset black;
    border-radius: 6px;
  }
}

textarea {
  border-color: var(--border-color);
  border-width: 4px;
  max-width: 1350px;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --background-color: #ffffff;
    --border-color: rgba(0, 0, 0, 0.25);
  }

  a:hover {
    color: var(--base-color);
  }

  button {
    background-color: #f9f9f9;
  }
}